DATABASE_URL=postgresql://postgres:12341234@localhost:5432/mqttDB?schema=mqtt
PORT=8080
JWT_SECRET=secret


JWT_EXPIRES_IN=8760h
JWT_EXPIRES_IN=24h

ACCESS_TOKEN_SECRET_EXPIRE=10800                                         # 3 hours for access token to expire
REFRESH_TOKEN_SECRET_EXPIRE=2592000  